{# app/Resources/views/sidebar.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Ma Petite Moustache{% endblock %}

{% block body %}

    <h2>Real football</h2>
    <p>Stats about what really happened out there while you were fapping to your MPG scorers</p>
{% endblock %}